<div class="container">
  <h1 class="col mx-auto text-center app-title">Zero to Hero</h1>
  <div class="container">
    <div class="d-flex flex-column justify-content-center app-text-container">
      <div class="app-text-title">How to play</div>
      <ul class="app-text">
        <li>
          Both players choose a number between 0 and 100
        </li>
        <li>
          Whoever is closest to the random number wins the grand prize
        </li>
      </ul>
    </div>
    <div class="d-flex flex-column app-input-container">
      <label for="Player 1">Player 1</label>
      <input
        type="number"
        id="Player 1"
        [(ngModel)]="player1num"
        min="0"
        max="100"
        placeholder="Your number here"
        (input)="valChanged()"
      />
      <label for="Player 2">Player 2</label>
      <input
        type="number"
        id="Player 2"
        [(ngModel)]="player2num"
        min="0"
        max="100"
        placeholder="Your number here"
        (input)="valChanged()"
      />
      <div (click)="popModal()" class="app-button-container">
        <button
          (click)="submitHandler()"
          type="submit"
          class="btn btn-primary app-button-submit"
          [disabled]="!valCheck"
        >
          Get random number
        </button>
      </div>
      <div *ngIf="showModal" class="app-modal">
        You both need to choose whole numbers between 0 and 100, that may not be
        equal.
        <button class="btn btn-primary" (click)="hideModal()">Close</button>
      </div>
    </div>
  </div>
  <div *ngIf="winner" class="d-flex flex-column app-results-container">
    <div class="app-results">
      <div>
        And the number is:
        <span class="app-results-text">{{ randomNumber }}</span>
      </div>
      <div>
        Which means: <span class="app-results-text">{{ winner }}</span>
      </div>
    </div>
    <button
      (click)="resetHandler()"
      class="btn btn-warning text-white app-button-reset"
    >
      Play again
    </button>
  </div>
</div>
