<div class="container">
  <h1 class="text-center app-title">Zero to Hero</h1>
  <div class="app-text-title">How to play</div>
  <ul class="app-text">
    <li>
      Both players choose a number between 0 and 100
    </li>
    <li>
      The game tells you which player is closest
    </li>
    <li>
      After three guesses, whoever was closest wins
    </li>
    <li>
      If either of you guess correctly, you win immediately
    </li>
  </ul>
  <form
    (ngSubmit)="playerNumHandler(playerForm)"
    #playerForm="ngForm"
    *ngIf="choiceMode"
  >
    <label for="Number of Players" class="player-choice-label"
      >Choose number of players</label
    >
    <input
      type="number"
      name="players"
      id="Number of Players"
      class="player-choice-input"
      min="2"
      max="10"
      autofocus
      required
      ngModel
    />
    <button class="btn btn-warning player-choice-button" type="submit">
      Go
    </button>
  </form>
  <div *ngFor="let player of players">
    <label [for]="player.player" class="app-label"> {{ player.player }} </label>
    <input
      class="d-flex player-number-input"
      [id]="player.player"
      type="number"
      placeholder="Your number here"
      min="0"
      max="100"
    />
  </div>
  <div (click)="showModal()" class="app-button-container" *ngIf="!choiceMode">
    <button
      (click)="submitHandler()"
      type="submit"
      class="btn btn-primary app-button-submit"
      [disabled]="!valCheck"
      [ngStyle]="valCheck && { zIndex: 100 }"
      [disabled]="disablePlayAgain"
    >
      Get random number
    </button>
  </div>
  <div *ngIf="modalIsShown" class="app-modal">
    You both need to choose whole numbers between 0 and 100, that may not be
    equal.
    <button class="btn btn-primary" (click)="hideModal()">Close</button>
  </div>
</div>

<div *ngIf="winner" class="app-results-container">
  <p>Player One's number: {{ player1Num }}</p>
  <p>Player Two's number: {{ player2Num }}</p>
  <p>You've guessed: {{ guessCount }} time</p>
  <span *ngIf="disablePlayAgain">
    And the number is:
    <span class="app-results-text">{{ randomNumber }}</span>
  </span>
  <br />
  <span class="app-results-text">{{ winner }}</span>
  <br />
  <button
    (click)="resetHandler()"
    class="btn btn-warning app-button-reset"
    *ngIf="disablePlayAgain"
  >
    Play again
  </button>
</div>
