.app-title {
  font-size: 1.8em;
  padding-bottom: 1em;
}

.app-text-container {
  padding: 0em 5em;
}

.app-text-title {
  font-size: 1.5em;
}

.app-text {
  font-size: 1.2em;
}

.app-button-submit {
  margin-top: 1em;
}
